*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.flex-menus{
    display: flex;
    flex-direction: row;
}
.flex-contalner{
    display: flex;
    flex-direction: column;
    background-color: dodgerblue; 
}
.flex-contalner>div{
    margin: 10px;
    border: 10px solid #359;
    padding: 10px;
    background-color: blueviolet;
    /* box-sizing: content-box; */
}
.navbar{
    display: flex;
    flex-direction:  row;
    background-color: rgb(0, 31, 116);
    /* box-sizing: border-box; */
}
.navbar a{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 25, 25);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 40%;
    background-color: teal;
    padding: 20px;
    /* box-sizing: border-box; */
}

.main{
    flex: 30%;
    background-color: rgb(216, 16, 216);
    padding: 20px;
    /* box-sizing: border-box; */
}

.footer{
    flex: 30%;
    text-align: center;
    padding: 20px;
    background-color: rgb(52, 170, 16);
}
@media screen and(max-width:700px) {
    .row,
    .navbar{
        flex-direction: column;
    }
}